.input-wrapper {
  position: relative;
  width: fit-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: #000000;
  display: flex;
  align-items: center;
  width: 100%;

  &.error {
    outline: 2px solid #d84f4f;
  }

  &.disabled {
    background-color: #1b1b1b;
  }
}

.input {
  margin: 8px;
  width: 100%;
  height: 16px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.label {
  margin: 0 0 2px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: left;
  color: #b0b0b0;
}

.additional-icon {
  height: 100%;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
