.app {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  background-color: #282c34;
}

.app-header {
  width: 100%;
  color: white;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin: 24px;
}

.attribute-name-input {
  flex-grow: 1;
}

.highlight-button {
  flex-grow: 0;
}
