.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 8px;
}

.label {
  flex-grow: 1;
  text-align: left;
  color: white;
  font-family: monospace;
  font-size: 14px;
}

.label.disabled {
  color: #B0B0B0;
  text-decoration: line-through;
}