.tooltip {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  color: white;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;

  display: none;
  visibility: hidden;
  z-index: 100;
}
