.tooltip {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  color: white;
  padding: 8px 16px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;

  display: none;
  visibility: hidden;
  z-index: 100;
}

.tooltip-list-item {
  display: flex;
  align-items: center;
}

.tooltip-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.color-indicator {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
}
