.color-picker {
  width: 110px;
}

.color-indicator {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  -webkit-appearance: none;
  border: none;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
  }

  &.disabled {
    background-color: black;
  }
}
