.wrapper {
  display: flex;
  align-items: center;
  width: 110px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #000000;

  &.disabled {
    background-color: #1b1b1b;
  }
}

.color-picker-input {
  border-radius: unset;
  text-transform: uppercase;
}

.indicator-wrapper {
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: #2f2f2f;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}

.color-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
  overflow: hidden;
  width: 32px;
  height: 32px;
  clip-path: circle(5px at center);

  &.disabled {
    background-color: black;
  }
}

.color-indicator::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
