.wrapper {
  width: 100%;
}

.list {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin: 24px;
}

.table {
  padding: 0 24px 16px 24px;
}

.attribute-name-input {
  flex-grow: 1;
}

.highlight-button {
  flex-grow: 0;
}
